body{
    background-color: darkgray;
    margin: 0;
}
div{
    width: 19%;
    background-color:rgba(0, 0, 0, 0.627);
    float: left;
    border:white 2px solid;
    color: white;
    text-align: center;
    padding: 7px;

}
img{
    width: 95%;    
}
h1{
    color: rgba(10, 0, 0, 0.896);
    text-align: center;
    }
h4{
    text-align: left;
}

#box{

    width: 68%;
    height: 10%;
margin-left: 50px;
margin-bottom: 10px;
    background-color: yellow;
    color: black;

}
